/* Colors */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --header-background-color: #f8f8f8;
  --header-border-color: #e7e7e7;
  --main-link-color: #444444;
  --hr-color: #cccccc;
  --footer-background-color: var(--header-background-color);
  --footer-border-color: var(--header-border-color);
}

/* Base styles */
body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background: var(--header-background-color);
  padding: 1rem 0;
  border-bottom: 1px solid var(--header-border-color);
}

header h1 {
  margin: 0;
  text-align: center;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.nav-home {
  font-family: 'Source Code Pro', monospace;
}

main {
  padding: 2rem;
  margin: auto;
  max-width: 50rem;
}

main a {
  color: var(--main-link-color);
}

hr {
  border: 0;
  height: 1px;
  background: var(--hr-color);
  margin: 1rem 0;
}

footer {
  background: var(--footer-background-color);
  padding: 1rem 0;
  border-top: 1px solid var(--footer-border-color);
  text-align: center;
}

footer a {
  color: var(--text-color);
}

.social-links {
  margin: 1rem;
}

.social-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: inherit;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #ffffff;
    --header-background-color: #444444;
    --header-border-color: #555555;
    --main-link-color: #e7e7e7;
    --hr-color: #cccccc;
  }
}
